<!--head bar  -->
<head-bar></head-bar>

<div class="wrapper-head">
    <div class="home-data-wrapper back-blue">
        <!--订单金额Box-->
        <div class="home-top back-blue ">
            <!--订单金额-->
            <div class="fn-panel fn-panel-default home-con-top back-blue">
                <div class="fn-panel-bd text-center padd-bot0 color-white">订单金额（万元）</div>
                <div class="fn-panel-bd text-center color-white" id="orderNum">{{myOrdermoney.myOrdermoney}}</div>
            </div>
            <!--今日+本月-->
            <div class="fn-g home-con-bot">
                <div class="fn-u-sm-6 color-white">
                    <div class="today-txt">今日成交额 ( 元 )</div>
                    <div class="today-mon" id="today-mon">{{myOrderDay.moneyDay}}</div>
                    <div class="today-num">共 <span id="today-num">{{myOrderDay.num}}</span> 笔</div>
                </div>
                <div class="fn-u-sm-6 color-white">
                    <div class="today-txt">本月成交额 ( 元 )</div>
                    <div class="today-mon" id="month-mon">{{myOrderMonth.moneyMonth}}</div>
                    <div class="today-num">共 <span id="month-num">{{myOrderMonth.num}}</span> 笔</div>
                </div>
            </div>
        </div>
    </div>
</div>

    <scroll-content>
        <div class="home-list">
            <ul class = "fn-avg-sm-3">
                <li class="fn-text-middle">
                    <a ui-sref="myorder.orderList">
                        <i class="iconfont icon-wodedingdan color-credit"></i>
                        <span>我的订单</span>
                    </a>
                </li>
                <li class="fn-text-middle">
                    <a ui-sref="payment.paymentList" >
                        <i class="iconfont icon-fukuandan  color-finance"></i>
                        <span>我的付款单</span>

                    </a>
                </li>
                <li class="fn-text-middle">
                    <a ui-sref="delivery.deliveryList">
                        <i class="iconfont icon-bill-sent color-more"></i>
                        <span>我的发货单</span>
                    </a>
                </li>
                <li class="fn-text-middle">
                    <a ui-sref="order.cart">
                        <i class="iconfont icon-gouwuche color-invoice"></i>
                        <span>我的购物车</span>
                    </a>
                </li>
                <li class="fn-text-middle">
                    <a ui-sref="profile.info">
                        <i class="iconfont icon-gerenxinxi color-credit "></i>
                        <span>个人信息</span>
                    </a>
                </li>
                <li class="fn-text-middle" ng-repeat="otherModule in otherModules">
                    <a href="{{otherModule.url}}">
                        <i class="iconfont icon-fill1fill2 color-more"></i>
                        <span ng-bind="otherModule.name"></span>
                    </a>
                </li>
            </ul>
        </div>
    </scroll-content>


<!--bottom bar  -->
<bottom-bar></bottom-bar>



