<!--head bar  -->
<!--<head-bar></head-bar>-->

<div class="wrapper-head">
    <div class="home-img-wrapper">

        <!--banner-->
        <div class="home-top">
            <div class="fn-slider fn-slider-default" data-fn-flexslider>
                <ul class="fn-slides">
                    <!--<li ng-repeat="slide in config.slides track by $index">
                        <img ng-src="{{slide}}" alt="" style="height: 13rem">
                    </li>-->
                    <li >
                        <img src="views/public/img/banner01.jpg"  alt="" style="height: 16rem;width:100%">
                    </li>
                    <li>
                        <img src="views/public/img/banner02.jpg" alt="" style="height: 16rem;width:100%">
                    </li>
                    <li >
                        <img src="views/public/img/banner03.jpg"  alt="" style="height: 16rem;width:100%">
                    </li>
                    <li>
                        <img src="views/public/img/banner04.jpg" alt="" style="height: 16rem;width:100%">
                    </li>
                    <li >
                        <img src="views/public/img/banner05.jpg"  alt="" style="height: 16rem;width:100%">
                    </li>
                </ul>
            </div>
        </div>
        <!--功能列表-->
        <div class="home-list">
            <ul class = "fn-avg-sm-3">
                <li class="fn-text-middle">
                    <a ui-sref="contract.contractList">
                        <i class="iconfont icon-hetong color-credit"></i>
                        <span>合同</span>
                    </a>
                </li>
                <li class="fn-text-middle">
                    <a ui-sref="repayment.repaymentDetail" >
                        <i class="iconfont icon-huankuan  color-finance"></i>
                        <span>我要还款</span>

                    </a>
                </li>
                <li class="fn-text-middle">
                    <a ui-sref="replay.replayList">
                        <i class="iconfont icon-shangchengicon13 color-more"></i>
                        <span>还款明细</span>
                    </a>
                </li>
                <!--<li class="fn-text-middle">
                    <a>
                        <i class="iconfont icon-beijiandanwei  color-invoice"></i>
                        <span>备件</span>

                    </a>
                </li>-->
                <!--<li class="fn-text-middle">
                    <a ui-sref="delivery.deliveryList">
                        <i class="iconfont icon-bill-sent color-more"></i>
                        <span>我的发货单</span>
                    </a>
                </li>
                <li class="fn-text-middle">
                    <a ui-sref="order.cart">
                        <i class="iconfont icon-gouwuche color-invoice"></i>
                        <span>我的购物车</span>
                    </a>
                </li>
                <li class="fn-text-middle">
                    <a ui-sref="profile.info">
                        <i class="iconfont icon-gerenxinxi color-credit "></i>
                        <span>个人信息</span>
                    </a>
                </li>-->
            </ul>
        </div>
    </div>


</div>


<!--bottom bar  -->
<bottom-bar></bottom-bar>



