<div class="profile">
    <div class="addAddress">
        <div class="add_line"></div>
        <ul class="add_list">
            <li>
                <span>收货人:</span>
                <input type="text" value="{{addressList.name}}">
            </li>
            <li>
                <span>手机号:</span>
                <input type="text" value="{{addressList.phone}}">
            </li>
            <li>
                <span>省市:</span>
                <div class="form-item item-line" id="select_contact">
                    <div class="pc-box">
                        <input type="hidden" name="contact_province_code" data-id="0001" id="contact_province_code" value="" data-province-name="">
                        <input type="hidden" name="contact_city_code" id="contact_city_code" value="" data-city-name="">
                        <input type="text" name="pricent" data-city-code="" data-province-code="" data-district-code="" id="show_contact" value=""
                               required ng-class="{'error':signUpForm.pricent.$invalid && signUpForm.pricent.$touched,'seccess':signUpForm.pricent.$valid}"
                        >
                    </div>
                </div>
            </li>
            <li>
                <span>详情地址:</span>
                <input type="text" value="{{addressList.address}}">
            </li>
        </ul>
    </div>
</div>