/*new orderlist*/
.page-content{background: #fff}
.productList-cart{position: fixed;top:0;right:10px;color:#fff;height:50px;line-height:50px;}
.productList{background:#F2F2F2 ;}
.productList .back-white{background: #fff;}
.productList .fn-size-color {font-size: 1.4rem;color: #2d83d0;}
.productList .height-26{height:26px;line-height: 1.6rem;}
.productList .color-invoice{color:#ffc800;}
/*搜索*/
.productList .p2{padding-left:2%;}
.productList .payment{ width:94%;border:1px solid #2d83d0;margin:3%;border-radius: 10px;color:#2d83ce;}
.productList .payment>a{display: inline-block;width: 91%;}
.productList .payment>a>input{height: 26px;line-height: 26px;border:none; width:100%;outline: none;background: transparent;}
.companyBox{font-size: 1.32rem;padding-bottom: 6px;padding-top: 2px;border-bottom: 1px solid #dfdfdf;}
.companyBox .iconfont.icon-gongsi{font-size: 1.6rem;}
.companyBox .iconfont.icon-qiehuan1{font-size: 1.4rem;font-weight: 600;margin-right: .2rem}
.productList .payment-input:not([type=radio]):not([type=checkbox]), select {vertical-align:inherit;}
.productList .payment-input input[placeholder]{  color: #ebf6ff!important;}
.productList ul.paymentList-dropdown{  border-radius: 10px;  overflow: hidden;padding: 0;}
.productList ul.paymentList-dropdown>li>a{  margin: 0;  }
.productList ul.myorder-dropdown>.fn-active>a{  color: #2d83ce;  background-color: #ebf6ff;}
/*tab切换*/
.productList .myorder-tabs>li a{padding: .4rem 0;border: none;color:#000;}
.productList .myorder-tabs .fn-dropdown {width: 100%;position: relative;display: inline-block;}
.productList .myorder-tabs .fn-dropdown i{font-size: 1rem;}
.productList .fn-nav-tabs>li a{margin-right: 0;line-height: 1.4;display: block;position: relative;}
.productList .myorder-box ul{padding: .8rem;}
.productList .myorder-box ul>li{border-radius: .8rem;margin-bottom: .6rem;overflow: hidden;}
.productList .prolDel-box{background: #fbfbfb;}
.productList .myorder-box ul>li>a{display: block;padding: 0;}
.productList .myorder-box ul>li:first-child{border-radius: .8rem!important;}
.productList .myorder-box ul>li:last-of-type{margin-bottom: 0;}
.productList #iscroll-wrapper li{border: 1px solid #DFDFDF;}
.productList .num-content,.mon-content{height: 3.1rem;}
.productList .num-content{border-bottom: 1px solid #DFDFDF;background: #fff;}
.num-content .pro-iconBox{color: #2d83ce}
.productList .mon-content{padding: 0 .6rem;border-top: 1px solid #DFDFDF;}
.productList .num-content .pro-iconBox{display: inline-block;height: 100%;width:8%;line-height:3.1rem;background-color: #fff;color: #2d83ce;padding: 0 .8rem;}
.productList .num-content .pro-iconBox>i{font-size: 1.6rem;}
.productList .num-content .myorderID{display: inline-block;height: 100%;width:90%;line-height:3.1rem;background-color: #fff;color: #797979;padding: 0 .6rem;}
.productList .num-content .icon-fanhui {color: #2d83ce;transform: rotateY(180deg);-webkit-transform: rotateY(180deg);}
.productList .mon-content span{display: inline-block;height: 100%;line-height:3.1rem;color: #000;}
.productList .num-content i{font-size: 1.4rem;}
.productList .myorderTime,.myorderName{color: #000;}
.productList .del-content{min-height: 5rem;padding: .6rem;background: #fbfbfb;font-size: 1.1rem;}
.productList .del-content span{color: #111;}
.productList .proMoney{height: 100%;width: 100%;padding: .8rem 1rem .8rem 0;text-align: center;color: #111;background: #fbfbfb;font-size: 1.1rem;border-radius: .8rem;}
.proMonBox{color: #111;}
.productList .proMoney .proMoney-num{color: #fa6767;font-weight: 500;}
/*产品详情*/
html{background: #f2f2f2;}
.productDetail{background: #fff;}
.proDe-top{width:100%;height:4rem;line-height:4rem;background-color: #fff;position:relative;}
.proDe-top_name{color:#3184CE;float: left; margin-left:1.6rem;  }
.proDe-top_icon{float: right;}
.proDe-top_icon i{position:absolute;right:0;margin-right:1.6rem;color:#BEBEBE;  }
.proDe-top_line{width:100%;height:0.6rem;background: url("../img/wave.png");background-size:100% 0.6rem;position:absolute;bottom:0;}
.proDe-list{width:100%;height:13.3rem;font-size:1.2rem;overflow: hidden;}
.proDe-list_main{width:90%;height:100%;margin:0 auto;margin-top:1.5rem;}
.proDe-list_main .card-content-inner span{color: #fa6767;font-weight: 600;  }
.proDe-pic{width: 8.4rem;height: 8.4rem;float: left;position: relative;top: 1rem;}
.proDe-pic>img{width:100%;height:100%;}
.proDe-card{float: left;margin-left:2.4rem;}
.proDe-btn{width:100%;padding:1rem 1rem 0 1rem;}
.proDe-btn div{width:100%;height:3rem;font-size:1.2rem;line-height:3rem;text-align:center;border:1px solid #76ACDD;border-radius:30px;}
.proDe-add{background-color:#fff;color:#3183CE;}
.proDe-top_icon .icon-shoucang.icon-shoucangfill{color: #efbe27}
/*产品搜索*/
.proSear{margin-top: -.3rem;min-height: 80rem;}
.proSear .top{height:5.53rem;background-color: #2F83CE;}
.proSear .top_main{width:95%;height:2.86rem;margin:0 auto;position: relative;}
.proSear .top_main>span{font-size:1.1rem;color:#E1E5EA;position:absolute;right:3%;top:64%;}
.proSear .top_main_ip{display:inline-block;width:100%;height:2.86rem;padding-left:13%;line-height:2.86rem;border:1px solid #8CC5F7;border-radius: 10px;margin-top:1.2rem;box-shadow: none;}
.proSear .top_main .iconfont.icon-sou{font-size:1.8rem;color:#428DD2;position:absolute;top:56%;margin-top: -.3rem;left: 3%;}
.proSear .top_main .iconfont.icon-guanbi{font-size: 1.4rem;color: #428DD2;position: absolute;top: 56%;margin-top: -.1rem;right: 3%;}
.proSear-category,.proSear-screen{width:90%;margin:0 auto;}
.proSear-category-title{overflow: hidden;height:4.47rem;line-height:4.47rem;}
.proSear-category-title>span>i{font-size: 1.8rem}
.proSear-category-title>span>.icon-shaixuan{font-size: 1.6rem}
.proSear-category-title span{float:left;}
.proSear-category-title span:nth-child(2){margin-left:10px;}
.proSear-btn{width:6rem;height:2.07rem;border:1px solid #cbcbcb;outline: none;color:#767676;background:#fafafa;border-radius:0.57rem;font-size:1rem;margin-right:2rem;}
.proSear-screen{margin-top:1rem;}
.proSear-screen-down{height:2.77rem;border:1px solid #2d83d0;border-radius: 0.73rem;color:#404040;line-height: 2.77rem;}
.proSear-screen-down:nth-child(2){margin-top:6%;}
html{background:#f2f2f2;}
.proSear .sort_list{width:100%;height:100%;font-size:1rem;overflow: hidden;}
.proSear .sort_list>li>div{float:left;min-width:5rem;height:2.1rem;padding:0 1rem;
    line-height:2.1rem;text-align: center;border:1px solid #D4D4D4;border-radius: 8px;background-color: #FAFAFA;}
.proSear .sort_list>li.prosea-active>div { border: 1px solid #2d83d0;color: #fff;background-color: #2d83d0;}
.proSear .label_list{width:100%;height:100%;font-size:1rem;overflow: hidden;margin-top: -.3rem}
.proSear .label_list>li{float:left;min-width:5rem;height:2.1rem;padding:0 1rem;
    line-height:2.1rem;text-align: center;border:1px solid #D4D4D4;border-radius: 8px;background-color: #FAFAFA;margin-right:0.5rem;margin-top:0.5rem;}
.fn-dimmer {position: fixed;right: 0;bottom: 0;width: 100%;height: 100%;background-color: rgba(236, 236, 236, 0.5);  z-index: 1100;  opacity: 0;}
#fn-actions .fn-modal-actions-group{margin: 0;}
#fn-actions .fn-modal-actions-group .fn-list>li>a {padding: .8rem 1.2rem .8rem 0;color: #111;text-align: left;padding-left: 0;}
#fn-actions .fn-modal-actions-group .fn-list>li>div {padding: .8rem 1rem;color: #bebebe;text-align:center;}
#fn-actions .fn-modal-actions-group .fn-list>li>div>i{font-size: 1.6rem}
#fn-actions .fn-modal-actions-group .fn-list>li>div>i.icon-queren{color:#3183CE}
#fn-actions .fn-btn-secondary {color: #fff;background-color: #3183CE;border-color: #3183CE;}
#fn-actions .fn-modal-actions-group .fn-list>li {box-shadow: inset 0 1px 0 rgba(0,0,0,.015);border: none;border-bottom: 1px solid #dedede;}