<div class="pSearch myorderSearch">
    <div class="skin-back">
        <div id="searchInput" class="fn-g searchnav search-tpl slide-top skin-padding" >
            <form ng-submit="keySearch(searchVal)" class="payment skin-back-dark fn-fl" id="proForm">
                <i class="iconfont icon-sou p2 skin-white-color"></i>
                <a ui-sref="myorder.myorderSearch">
                    <input type="search" ng-focus="showSearch()" placeholder="输入关键字搜索" class="skin-white-color payment-input" ng-model="searchVal">
                </a>
                <i class="iconfont icon-guanbi1 fn-fr skin-color-lighter" ng-click="clickClean($event)"></i>

            </form>
            <span class="fn-fr skin-color" ng-click="closeSearch()"></span>
        </div>
    </div>

    <div class="label">
        <div class="label_main">
            <p>
                <span>历史搜索</span>
            </p>

            <ul class="label_list">
                <li>POY</li>
                <li>聚本烯腈纤维</li>
                <li>聚本烯腈纤维</li>
                <li>OTY</li>
                <li>DTY</li>
                <li>聚氯乙烯</li>
                <li>聚本烯腈纤维</li>
                <li>聚本烯腈纤维</li>
                <li>聚本烯腈纤维</li>
                <li>聚本烯腈纤维</li>
                <li>聚本烯腈纤维</li>
            </ul>
        </div>
    </div>
</div>