<!--<content-scroll>-->
<ul class="fn-padding-sm orderDet-ul order-list">
    <!--收货人信息-->
    <li >
        <!--收货人信息-->
        <div class="num-content information-con">
            <div class="fn-fl fn-padding-right-xs">
                <i class="iconfont icon-changpai"></i>
            </div>
            <span  class="myorderID fn-fr">
               收货人信息
            </span>
        </div>
        <!--订单详情-->
        <div class="del-content">
            <div class="height-26">
                <span>
                      {{order.orderTo}}
                </span>
                <span class="myorderName">
                   {{order.orderTel}}
                </span>
            </div>
            <div class="height-26">
                <span>
                    <a class="fn-badge fn-badge-primary fn-round back-red">默认</a>
                </span>
                <a class="color-67 myorderTime">
                    {{order.orderAddDefault}}
                </a>
            </div>
            <div class="height-26">
                <span>
                    配送区域：
                </span>
                <a class="color-67">
                    浙江宁波
                </a>
            </div>

        </div>
        <!--订单金额-->
        <p class="fn-stripe-redblue"></p>
    </li>

    <!--订单信息-->
    <li >
        <!--订单信息-->
        <div class="num-content information-con">
            <div class="fn-fl fn-padding-right-xs">
                <i class="iconfont icon-dingdanxinxi"></i>
            </div>
            <span  class="myorderID fn-fr">
               订单信息
            </span>
        </div>
        <!--订单详情-->
        <div class="del-content">
            <div class="height-26">
                <span>
                    订单编号：
                </span>
                <a class="myorderName color-67">
                    <!--HGD1508121002 　　-->{{order.orderId}}
                </a>
            </div>
            <div class="height-26">
                <span >
                    付款方式：
                </span>
                <a class="color-67">
                    265dtex/48f
                </a>
            </div>
            <div class="height-26">

                <div class="fn-fl">
                    <span class="">
                        订单模式：
                    </span>
                    <a class="color-67  ">
                        自购零售 　　
                    </a>
                </div>
                <div class="fn-fl">
                    <span >
                        交货方式：
                    </span>
                    <a class="color-67 ">
                        配送
                    </a>
                </div>
            </div>

            <div class="height-26">
                <span>预付款日期:</span> <a  class="color-67 ">2015-06-08</a>
            </div>

            <div class="height-26">
                <span>
                    订单状态：
                </span>
                <a class="myorderStau">
                    已审核
                </a>
            </div>

        </div>
    </li>

    <!--订单1-->
    <li >
        <!--订单信息-->
        <div class="num-content informaList-con">
            <span  class="myorderID ">
               订单1
            </span>
        </div>
        <!--订单详情-->
        <div class="del-content informaList-del fn-padding-0">
            <ul>
                <li>
                    <div>
                <span>
                    聚氯乙烯 北元SG-8
                </span>
                    </div>
                    <div>
                        <div class="fn-g">
                            <div class="fn-u-sm-7 fn-padding-0">
                        <span>
                            部门：
                        </span>
                                <span>
                            氯碱化工-圣雄浙江
                        </span>
                            </div>
                            <div class="fn-u-sm-5  fn-padding-0">
                        <span>
                            仓库：
                        </span>
                                <span>
                            湖州港务库
                        </span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="fn-g">
                            <div class="fn-u-sm-7 fn-padding-0">
                        <span>
                           挂牌价：
                        </span>
                                <span>
                             888.00 　　
                        </span>
                            </div>
                            <div class="fn-u-sm-5  fn-padding-0">
                        <span>
                             标准价：
                        </span>
                                <span>
                            900.00
                        </span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="fn-g">
                            <div class="fn-u-sm-7 fn-padding-0">
                        <span>
                              贴息价：
                        </span>
                                <span>
                             888.00 　　
                        </span>
                            </div>
                            <div class="fn-u-sm-5  fn-padding-0">
                        <span>
                             审核价：
                        </span>
                                <span>
                            900.00
                        </span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="fn-g">
                            <div class="fn-u-sm-7 fn-padding-0">
                        <span>
                            数量(T)：
                        </span>
                                <span>
                             888.00 　　
                        </span>
                            </div>
                            <div class="fn-u-sm-5  fn-padding-0">
                        <span>
                              成效价：
                        </span>
                                <span>
                            900.00
                        </span>
                            </div>
                        </div>
                    </div>
                    <div >
                        <a  class="color-67 fn-text-xs">
                            小计：
                        </a>
                        <a  class="color-67 fn-text-xs">
                            615608.67
                        </a>
                    </div>
                </li>
                <li>
                    <div>
                        <span>
                            聚氯乙烯 北元SG-8
                        </span>
                    </div>
                    <div>
                        <div class="fn-g">
                            <div class="fn-u-sm-7 fn-padding-0">
                                <span>
                                    部门：
                                </span>
                                <span>
                                    氯碱化工-圣雄浙江
                                </span>
                            </div>
                            <div class="fn-u-sm-5  fn-padding-0">
                                <span>
                                    仓库：
                                </span>
                                <span>
                                    湖州港务库
                                </span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="fn-g">
                            <div class="fn-u-sm-7 fn-padding-0">
                        <span>
                           挂牌价：
                        </span>
                                <span>
                             888.00 　　
                        </span>
                            </div>
                            <div class="fn-u-sm-5  fn-padding-0">
                        <span>
                             标准价：
                        </span>
                                <span>
                            900.00
                        </span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="fn-g">
                            <div class="fn-u-sm-7 fn-padding-0">
                        <span>
                              贴息价：
                        </span>
                                <span>
                             888.00 　　
                        </span>
                            </div>
                            <div class="fn-u-sm-5  fn-padding-0">
                        <span>
                             审核价：
                        </span>
                                <span>
                            900.00
                        </span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="fn-g">
                            <div class="fn-u-sm-7 fn-padding-0">
                        <span>
                            数量(T)：
                        </span>
                                <span>
                             888.00 　　
                        </span>
                            </div>
                            <div class="fn-u-sm-5  fn-padding-0">
                        <span>
                              成效价：
                        </span>
                                <span>
                            900.00
                        </span>
                            </div>
                        </div>
                    </div>
                    <div >
                        <a  class="color-67 fn-text-xs">
                            小计：
                        </a>
                        <a  class="color-67 fn-text-xs">
                            615608.67
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <!--订单总额-->
        <div class="num-content informaNum-con bor-none  fn-padding-bottom-0">
            <span  class="fn-fl ">
               订单总额
            </span>
            <span  class="fn-fr ">
               ￥20,500.00
            </span>
        </div>
        <!--运费-->
        <div class="freight bor-none fn-padding fn-padding-top-0 fn-padding-bottom-0 fn-cf">
            <p>
                 <span class="fn-fl color-67 fn-text-xs">
                   +运费
                </span>
                <span class="fn-fr color-67 fn-text-xs">
                   ￥40.00
                </span>
            </p>
            <p>
                <span class="fn-fl color-67 fn-text-xs">
                   -现金抵用券
                </span>
                <span class="fn-fr color-67 fn-text-xs">
                   ￥120.00
                </span>
            </p>

        </div>

        <!--订单总额-->
        <div class="num-content informaNum-con fn-padding-top-0  ">
            <span  class="fn-fl ">
              未支付金额
            </span>
            <span  class="fn-fr ">
              ￥18,500.00
            </span>
        </div>


        <!--实付款-->
        <div class="orderDetail-mon">
            <div class="mon-content bor-none">
                <a class="myorderMon fn-fr font-normal">
                    ￥4000.00
                </a>
                <span class="fn-fr">实付款：</span>
            </div>
            <div class="mon-content bor-none height-sm fn-margin-bottom-0">
                <a class=" fn-fr color-67 fn-text-xs">
                    2016-11-21  09:52
                </a>
                <a class="fn-fr color-67 fn-text-xs">下单时间：</a>
            </div>
        </div>
    </li>

    <!--订单备注-->
    <li >
        <div class="num-content delNode-con">
            <div class="fn-fl fn-padding-right-xs">
                <i class="iconfont icon-7beizhu"></i>
            </div>
            <span  class="myorderID fn-fr">
               订单备注
            </span>
        </div>
        <!--备注详情-->
        <div class="node-content color-67">
            请5天后发货
        </div>
    </li>

</ul>
<!--</content-scroll>-->