

<div id="orderList" class="order-list">
    <div class="wrapper-head">
        <!--搜素加时间-->
        <div class="skin-back">
            <div id="searchInput" class="fn-g searchnav search-tpl slide-top skin-padding" >
                <form ng-submit="keySearch(searchVal)" class="payment skin-back-dark fn-fl" id="proForm">
                    <i class="iconfont icon-sou p2 skin-white-color"></i>
                    <a ui-sref="myorder.myorderSearch">
                        <input type="search" ng-focus="showSearch()" placeholder="输入关键字搜索" class="skin-white-color payment-input" ng-model="searchVal">
                    </a>
                    <i class="iconfont icon-guanbi1 fn-fr skin-color-lighter" ng-click="clickClean($event)"></i>

                </form>
                <span class="fn-fr skin-color" ng-click="closeSearch()"></span>
            </div>
        </div>
        <!--切换分公司-->
        <company-action></company-action>
        <!--切换导航-->
        <tab-bar>
            <li ng-repeat="status in orderStatusArray">
                <a  class="fn-btn fn-margin-0" href="javascript:void(0)" ng-click="changeStatus(status)">{{status.name}}</a>
            </li>
        </tab-bar>
    </div>

    <!--数据盒子-->
    <iscroll-wrapper class="myorder-box">
        <li ng-repeat="order in orders track by $index">
            <a ui-sref="myorder.orderDetail({orderId:order.id})" ng-class="{'badgeSuccessBox': order.status == 1, 'badgeBox': order.status == 2,'badgePendingBox':order.status == 0}">
                <!--订单编号-->
                <div class="num-content statusFa">
                    <span class="myorderID">
                        <i class="iconfont icon-wodedingdan i-Blue"></i>
                        {{order.id}}
                        <i class="iconfont icon-fanhui fn-fr Blue"></i>
                    </span >
                </div>

                <!--订单详情-->
                <div class="del-content">
                    <div>
                        <span class="leftspan">
                            设备型号：
                        </span>
                        <span class="myorderName fn-fr">
                            xyz-765031
                        </span>
                    </div>
                    <div>
                        <span class="leftspan">
                            设备名称：
                        </span>
                        <span class="myorderName fn-fr">
                            新型电动设备01
                        </span>
                    </div>

                    <div>
                        <span class="leftspan">
                            融资金额：
                        </span>
                        <span class="myorderName fn-fr">
                            ￥1000,000.00
                        </span>
                    </div>
                    <div>
                        <span class="leftspan">
                            租凭期限：
                        </span>
                        <span class="myorderTime  fn-fr">
                            {{order.time}}
                        </span>
                    </div>
                    <div>
                        <span class="leftspan">
                            月租金：
                        </span>
                        <span class="myorderTime  fn-fr">
                            ￥2000.00
                        </span>
                    </div>
                    <div>
                        <span class="leftspan">
                            逾期利息：
                        </span>
                        <span class="myorderStau  fn-fr">
                            ￥24.53
                            <!--{{order.statusText[order.status]}}-->
                        </span>
                    </div>
                </div>
                <!--订单金额-->
                <div class="mon-content">
                <span class="myorderMon fn-fr">
                {{order.money|currency:'￥'}}
                </span>
                <span class="fn-fr">订单金额：</span>
                </div>
            </a>
        </li>
    </iscroll-wrapper>
</div>

<!--bottom bar  -->
<bottom-bar></bottom-bar>