<div id="deliveryDet" class="delivery">
    <ul class="fn-padding-sm deliveryDet">
        <li>
            <div class=" fn-padding-right-xs content-head b-bot">
                <i class="iconfont icon-changpai i-color fn-padding-right-xs"></i>
                      <span class=" fn-padding-left-xs">
                          发货单信息
                      </span>
            </div>

            <div class="content-center bt">
                <div class="height-29">
                        <span>
                            司机名：
                        </span>
                    <a class="myorderName color-76">
                        {{delivery.deliveryTo}}　　
                    </a>
                </div>
                <div class="height-29">
                        <span >
                            车牌号：
                        </span>
                    <a class="color-76">
                        {{delivery.carNum}}
                    </a>
                </div>
                <div class="height-29">
                        <span >
                            联系电话：
                        </span>
                    <a class="color-76">
                        {{delivery.telPhone}}
                    </a>
                </div>
                <div class="height-29">
                        <span >
                            发货时间：
                        </span>
                    <a class="color-76">
                        {{delivery.time}}
                    </a>
                </div>
                <div class="height-29">
                        <span >
                            备注：
                        </span>
                    <a class="color-76">
                        {{delivery.remark}}
                    </a>
                </div>
            </div>

        </li>
        <li>
            <!--发货单信息-->
            <div class="informaList-con">
                <i class="iconfont icon-xiangqing i-color fn-padding-right-xs"></i>
            <span  class="myorderID fn-padding-left-xs">
               产品详情
            </span>
            </div>
            <!--发货单详情-->
            <div class="deliveryInformaList-del fn-padding-0">
                <ul>
                    <li>
                        <div>
                        <span class="detColor">
                            POY
                        </span>
                        </div>
                        <div>
                            <div class="fn-g">
                                <div class="fn-u-sm-6 fn-padding-0">
                                <span>
                                    订单编号：
                                </span>
                                <span>
                                    D20164578
                                </span>
                                </div>
                                <div class="fn-u-sm-6  fn-padding-0">
                                <span>
                                    产品编号：
                                </span>
                                <span>
                                    10011001
                                </span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="fn-g">
                                <div class="fn-u-sm-6 fn-padding-0">
                        <span>
                           产品名称：
                        </span>
                                <span>
                             poy　　
                        </span>
                                </div>
                                <div class="fn-u-sm-6  fn-padding-0">
                        <span>
                             数量：
                        </span>
                                <span>
                            2
                        </span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="fn-g">
                                <div class="fn-u-sm-6 fn-padding-0">
                        <span>
                              安排货运数量：
                        </span>
                                <span>
                             5　　
                        </span>
                                </div>
                                <div class="fn-u-sm-6  fn-padding-0">
                        <span>
                             确认收货数量：
                        </span>
                                <span>
                            4
                        </span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                        <span class="detColor">
                            POY
                        </span>
                        </div>
                        <div>
                            <div class="fn-g">
                                <div class="fn-u-sm-6 fn-padding-0">
                                <span>
                                    订单编号：
                                </span>
                                <span>
                                    D20164578
                                </span>
                                </div>
                                <div class="fn-u-sm-6  fn-padding-0">
                                <span>
                                    产品编号：
                                </span>
                                <span>
                                    10011001
                                </span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="fn-g">
                                <div class="fn-u-sm-6 fn-padding-0">
                        <span>
                           产品名称：
                        </span>
                                <span>
                             poy　　
                        </span>
                                </div>
                                <div class="fn-u-sm-6  fn-padding-0">
                        <span>
                             数量：
                        </span>
                                <span>
                            2
                        </span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="fn-g">
                                <div class="fn-u-sm-6 fn-padding-0">
                        <span>
                              安排货运数量：
                        </span>
                                <span>
                             5　　
                        </span>
                                </div>
                                <div class="fn-u-sm-6  fn-padding-0">
                        <span>
                             确认收货数量：
                        </span>
                                <span>
                            4
                        </span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                        <span class="detColor">
                            DIY
                        </span>
                        </div>
                        <div>
                            <div class="fn-g">
                                <div class="fn-u-sm-6 fn-padding-0">
                                <span>
                                    订单编号：
                                </span>
                                <span>
                                    D20164578
                                </span>
                                </div>
                                <div class="fn-u-sm-6  fn-padding-0">
                                <span>
                                    产品编号：
                                </span>
                                <span>
                                    10011001
                                </span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="fn-g">
                                <div class="fn-u-sm-6 fn-padding-0">
                        <span>
                           产品名称：
                        </span>
                                <span>
                             DIY　　
                        </span>
                                </div>
                                <div class="fn-u-sm-6  fn-padding-0">
                        <span>
                             数量：
                        </span>
                                <span>
                            2
                        </span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="fn-g">
                                <div class="fn-u-sm-6 fn-padding-0">
                        <span>
                              安排货运数量：
                        </span>
                                <span>
                             5　　
                        </span>
                                </div>
                                <div class="fn-u-sm-6  fn-padding-0">
                        <span>
                             确认收货数量：
                        </span>
                                <span>
                            4
                        </span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>

