<div class="loginmask">
    <div class="login-logo">
        徐工租赁
    </div>

    <div class="loginBox">
        <form>
            <fieldset>
                <div class="fn-form-group">
                    <div class="fn-input-group fn-input-group-secondary">
                        <span class="fn-input-group-label"><i class="fn-icon-user color-gary fn-icon-fw"></i></span>
                        <input type="text" class="fn-form-field" >
                    </div>
                </div>

                <div class="fn-form-group">
                    <div  class="fn-input-group fn-input-group-secondary">
                        <span class="fn-input-group-label"><i class="fn-icon-lock  color-gary fn-icon-fw"></i></span>
                        <input type = "password" class="fn-form-field" >
                    </div>
                </div>

                <div class="fn-alert fn-alert-danger" ng-show = "showError" ng-bind="errorMessage"></div>
                <div>
                    <button class="fn-btn fn-btn-secondary fn-btn-block loginBtn" ng-click="login(loginName,password)">登录</button>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="copyBox" >2017 徐工租赁版权所有</div>
</div>

