<div class=" fn-topbar-fixed-bottom footer">
    <div class="fn-btn-group">
        <a ui-sref="app" class="fn-btn fn-btn-primary fn-bot-active" >
            <i class="iconfont icon-shouye-copy-copy-copy"></i>
            <span> 首页</span>
        </a>
        <a ui-sref="product.productList" class="fn-btn fn-btn-primary" >
            <i class="iconfont icon-faxian"></i>
            <span> 产品</span>
        </a>
        <a ui-sref="myorder.orderList" class="fn-btn fn-btn-primary">
            <i class="iconfont icon-wodedingdan"></i>
            <span>我的订单</span>
        </a>
        <a ui-sref="profile.info" class="fn-btn fn-btn-primary" >
            <i class="iconfont icon-gerenxinxi"></i>
            <span>个人中心</span>
        </a>
    </div>
</div>

