<div class=" fn-topbar-fixed-bottom footer">
    <div class="fn-btn-group">
        <a ui-sref="app" class="fn-btn fn-btn-primary fn-bot-active" >
            <i class="iconfont icon-shouye"></i>
            <span> 首页</span>
        </a>
        <a ui-sref="repayment.repaymentDetail" class="fn-btn fn-btn-primary" >
            <i class="iconfont icon-huankuan"></i>
            <span> 还款</span>
        </a>
        <a ui-sref="profile.info" class="fn-btn fn-btn-primary" >
            <i class="iconfont icon-gerenzhongxinxia"></i>
            <span>个人中心</span>
        </a>
    </div>
</div>

