<form>
    <fieldset>
        <div class="fn-form-group">
            <div class="fn-g fn-g-collapse">
                <div class="fn-input-group fn-input-group-secondary fn-u-sm-8">
                    <span class="fn-input-group-label"><i class="fn-icon-mobile fn-icon-fw"></i></span>
                    <input  type="number" class="fn-form-field" required minlength="11" maxlength="11"
                            ng-model="mobilephone" placeholder="手机号">
                </div>
                <div class="fn-u-sm-4">
                    <button class="fn-btn fn-btn-primary fn-btn-block code-btn">获取验证码</button>
                </div>
            </div>
        </div>
    </fieldset>
</form>