<form>
    <fieldset>
        <div class="fn-form-group">
            <div class="fn-input-group fn-input-group-secondary">
                <span class="fn-input-group-label"><i class="fn-icon-user fn-icon-fw"></i></span>
                <input type="text" class="fn-form-field" required minlength="4" maxlength="20" ng-model="loginName"
                       placeholder="用户名/手机号"  ng-focus="showError = false">
            </div>
        </div>

        <div class="fn-form-group">
            <div  class="fn-input-group fn-input-group-secondary">
                <span class="fn-input-group-label"><i class="fn-icon-lock fn-icon-fw"></i></span>
                <input type = "password" class="fn-form-field" ng-model="password" required maxlength="16"
                       minlength="6" placeholder="请输入密码" ng-focus="showError = false">
            </div>
        </div>

        <div class="fn-alert fn-alert-danger" ng-show = "showError" ng-bind="errorMessage"></div>
        <div>
            <button class="fn-btn fn-btn-secondary fn-btn-block">登录</button>
        </div>
    </fieldset>
</form>