<form>
    <fieldset>
        <div class="fn-form-group">
            <div class="fn-input-group fn-input-group-secondary">
                <span class="fn-input-group-label"><i class="fn-icon-user fn-icon-fw"></i></span>
                <input type="text" class="fn-form-field" required minlength="6" maxlength="20" ng-model="oldPassword"
                       placeholder="请输入旧密码"  ng-focus="showError = false">
            </div>
        </div>

        <div class="fn-form-group">
            <div  class="fn-input-group fn-input-group-secondary">
                <span class="fn-input-group-label"><i class="fn-icon-lock fn-icon-fw"></i></span>
                <input type = "password" id="newPassword" class="fn-form-field" ng-model="newPassword" required maxlength="16"
                       minlength="6" placeholder="请输入新密码" ng-focus="showError = false">
            </div>
        </div>

        <div class="fn-form-group">
            <div  class="fn-input-group fn-input-group-secondary">
                <span class="fn-input-group-label"><i class="fn-icon-lock fn-icon-fw"></i></span>
                <input type = "password" class="fn-form-field" ng-model="repeatPassword" required
                       placeholder="再次输入新密码"
                       equalTo="#newPassword"
                       ng-focus="showError = false">
            </div>
        </div>

        <div class="fn-alert fn-alert-danger" ng-show = "showError" ng-bind="errorMessage"></div>
        <div>
            <button class="fn-btn fn-btn-secondary fn-btn-block">确定</button>
        </div>
    </fieldset>
</form>