<div id="productList" class="productList">
    <!--搜素加时间-->

    <div class="wrapper-head">
        <div class="fn-g search-nav back-white">
            <div class="payment">
                <i class="iconfont icon-sou fn-size-color p2"></i>
                <a  ui-sref="product.productSearch">
                    <input type="text"  placeholder="关键字搜索" class="payment-input fn-disabled">
                </a>
            </div>
        </div>

        <div class="fn-g back-white companyBox">
            <span class="fn-text-right  fn-u-sm-1 fn-padding-right-0">
                <i class="iconfont icon-gongsi color-invoice"></i>
            </span>
            <div class="fn-text-truncate fn-u-sm-8 fn-padding-left-sm fn-padding-right-0" ng-bind="currentCompany.companyName"></div>
            <span class="fn-text-right  fn-u-sm-3" ng-click="showCompanyList()">
                <a><i class="iconfont icon-qiehuan1 "></i>切换</a>
            </span>
        </div>
    </div>

    <!--数据盒子-->
    <iscroll-wrapper class="myorder-box">
        <li ng-repeat="product in products track by $index">
            <a ui-sref="product.productDetail({productId:product.productId})" >
                <!--订单编号-->
                <div class="num-content">
                    <div class="fn-fl pro-iconBox">
                        <i class="iconfont icon-chanpin"></i>
                    </div>
                    <span class="myorderID fn-fr fn-padding-left-0">
                        {{product.productId}}
                        <i class="iconfont icon-fanhui fn-fr"></i>
                    </span >
                </div>

                <div class="fn-g  prolDel-box">
                    <div class="fn-u-sm-9 fn-padding-0">
                        <!--订单详情-->
                        <div class="del-content">
                            <div class="">
                                <span class="fn-padding-0">
                                    产品名称：{{product.productName}}
                                </span>

                            </div>
                            <div>
                                <span class="fn-padding-0">
                                    分类号：1001
                                </span>
                            </div>
                            <div>
                                <span class="fn-padding-0">
                                    规格：262dt
                                </span>
                            </div>
                            <div>
                                <span>
                                    分类名：{{product.productName}}
                                </span>
                            </div>

                        </div>
                    </div>
                    <div class="fn-u-sm-3 fn-padding-0">
                        <!--标准价-->
                        <div class="proMoney">
                            <!--<div>标准价</div>-->

                            <div class="proMoney-num">￥{{product.price}}</div>
                        </div>
                    </div>
                </div>
            </a>
        </li>
    </iscroll-wrapper>



    <fn-action>
        <ul class="fn-list">
            <li ng-repeat = "company in companyList" ng-click="changeCompany(company)" >
                <div class="fn-u-sm-2" >
                    <i class="iconfont " ng-class="{'icon-queren': currentCompany.companyId ==  company.companyId,'icon-yuanquan':currentCompany.companyId !=  company.companyId}"></i>
                </div>
                <a ng-bind="company.companyName" class="fn-u-sm-10">
                </a>
            </li>
        </ul>
    </fn-action>

</div>

<!--bottom bar  -->
<bottom-bar></bottom-bar>