<div class="proSear" >

    <div class="top">
        <div class="top_main">
            <form action="" class="proFrom">
                <i class="iconfont icon-sou" ng-click="processForm()"></i>
                <input class="top_main_ip" type="text" placeholder="POY" id="proInput"  ng-keyup="proKeyup($event)" ng-model="formData.val">
                <i class="iconfont icon-guanbi" ng-click="clearForm()"></i>
            </form>
        </div>
    </div>
    <div class="proSear-category">
        <div class="proSear-category-title">
            <span><i class="iconfont icon-weibiaoti--"></i></span>
            <span>选择分类</span>
        </div>
        <productsearchtype>
            <li>
                <div>产品名称</div>
            </li>
            <li>
                <div>产品编号</div>
            </li>
            <li>
                <div>产品规格</div>
            </li>
        </productsearchtype>
    </div>
    <div class="proSear-screen">
        <div class="proSear-category-title">
            <span><i class="iconfont icon-shaixuan"></i></span>
            <span>常用产品</span>
        </div>
        <ul class="label_list">
            <li>POY</li>
            <li>聚本烯腈纤维</li>
            <li>聚本烯腈纤维</li>
            <li>OTY</li>
            <li>DTY</li>
            <li>聚氯乙烯</li>
            <li>聚本烯腈纤维</li>
            <li>聚本烯腈纤维</li>
            <li>聚本烯腈纤维</li>
            <li>聚本烯腈纤维</li>
            <li>聚本烯腈纤维</li>
        </ul>
    </div>
</div>