<div id="repaymentDetail" class="repaymentDetail">

    <div class="wrapper-head">
        <!--搜索-->
        <search-bar></search-bar>
        <!--切换导航-->
        <tab-bar>
            <li >
                <a  class="fn-btn fn-margin-0" href="javascript:void(0)" ng-click="changeStatus(status)">全部</a>
            </li>
            <li><a class="fn-btn fn-margin-0" href="javascript:void(0)" data-fn-modal="{target:'#changeTime-action'}">日期</a></li>
        </tab-bar>
    </div>
    <div class="back-gary fn-padding-sm">还款明细</div>
    <iscroll-wrapper class="repaymentDetail-box">
        <li class="fn-padding-sm ">
            <div class="fn-g fn-g-collapse fn-text-center hl40 back-gary">
                <div class="fn-u-sm-3">到账日期</div>
                <div class="fn-u-sm-6">合同编号</div>
                <div class="fn-u-sm-3">客户名称</div>
                <!--<div class="fn-u-sm-2">到账金额</div>-->
            </div>
            <div class="fn-g fn-g-collapse fn-text-center hl40">
                <div class="fn-u-sm-3">2017-11-29</div>
                <div class="fn-u-sm-6 text-gary">XGRZ-01-201710-0005</div>
                <div class="fn-u-sm-3 text-gary">张满和</div>
                <!--<div class="fn-u-sm-2 text-red" >￥7103.00</div>-->
            </div>
            <div class="fn-g fn-g-collapse fn-padding-sm  back-gary">
                <div class="fn-u-sm-12 fn-padding-bottom-sm">到账金额<span class="text-red fn-fr">￥7103.00</span></div>
                <div class="fn-u-sm-2">备注</div>
                <div class="fn-u-sm-10 note text-gary" style="padding: .4rem  1rem;">
                    已经还款一部分，余下的请尽快还款
                </div>
            </div>
        </li>
        <li class="fn-padding-sm fn-margin-top-sm">
            <div class="fn-g fn-g-collapse fn-text-center hl40 back-gary">
                <div class="fn-u-sm-3">到账日期</div>
                <div class="fn-u-sm-6">合同编号</div>
                <div class="fn-u-sm-3">客户名称</div>
                <!--<div class="fn-u-sm-2">到账金额</div>-->
            </div>
            <div class="fn-g fn-g-collapse fn-text-center hl40">
                <div class="fn-u-sm-3">2017-11-29</div>
                <div class="fn-u-sm-6 text-gary">XGRZ-01-201710-0005</div>
                <div class="fn-u-sm-3 text-gary">张满和</div>
                <!--<div class="fn-u-sm-2 text-red" >￥7103.00</div>-->
            </div>
            <div class="fn-g fn-g-collapse fn-padding-sm  back-gary">
                <div class="fn-u-sm-12 fn-padding-bottom-sm">到账金额<span class="text-red fn-fr">￥7103.00</span></div>
                <div class="fn-u-sm-2">备注</div>
                <div class="fn-u-sm-10 note text-gary" style="padding: .4rem  1rem;">
                    已经还款一部分，余下的请尽快还款
                </div>
            </div>
        </li>
    </iscroll-wrapper>

    <div class="fn-modal fn-modal-alert" id="changeTime-action">
        <div class="fn-modal-dialog">
            <!--<div class="fn-modal-hd"></div>-->
            <div class="fn-modal-bd">
               <div class="fn-fg" style="margin: 0 1rem;position: relative;top: 3rem;">
                   <div class="fn-u-sm-6 fn-cf fn-padding-0">
                       <span class="fn-fl">起始：</span>
                       <div class="fn-fl">
                           <input type="date">
                       </div>
                   </div>
                   <div class="fn-u-sm-6 fn-cf fn-padding-0">
                       <span class="fn-fl">结束：</span>
                       <div class="fn-fl">
                           <input type="date">
                       </div>
                   </div>
               </div>
            </div>
            <div class="fn-modal-footer skin-back">
                <span class="fn-modal-btn fn-modal-btn-bold" style="color: #fff;" data-fn-modal-close>搜索</span>
            </div>
        </div>
    </div>


</div>

<!--bottom bar  -->
<bottom-bar></bottom-bar>