<div class="pSearch">
    <div class="top">
        <div class="top_main">
            <i class="iconfont icon-sou"></i>
            <input class="top_main_ip" type="text" >
            <span ng-click="cancel()">取消</span>
        </div>
    </div>

    <div class="label">
        <div class="label_main">
            <p>
                <span>常用产品</span><i class="iconfont icon-shanchu"></i>
            </p>

            <ul class="label_list">
                <li>POY</li>
                <li>聚本烯腈纤维</li>
                <li>聚本烯腈纤维</li>
                <li>OTY</li>
                <li>DTY</li>
                <li>聚氯乙烯</li>
                <li>聚本烯腈纤维</li>
                <li>聚本烯腈纤维</li>
                <li>聚本烯腈纤维</li>
                <li>聚本烯腈纤维</li>
                <li>聚本烯腈纤维</li>
            </ul>
        </div>
    </div>
</div>