<div id="paymentList" class="payment">

    <div class="wrapper-head">
            <!--搜索-->
            <div class="fn-g search-nav back-white">
                <div class="payment-search">
                    <i class="iconfont icon-sou search-color fn-padding-horizontal-xs"></i>
                    <a ui-sref="payment.paymentSearch"><input type="text" placeholder="请输入内容" class="payment-input"></a>
                </div>
            </div>
            <!--tab切换-->
                <tab-bar>
                    <li ng-repeat="status in paymentStatusArray">
                        <a  class="fn-btn " href="javascript:void(0)" ng-click="changeStatus(status)">{{status.name}}</a>
                    </li>

                    <li>
                        <drop-down>
                            <a class="fn-btn">日期<i class="iconfont icon-ananzuiconv265 fn-size"></i></a>
                            <ul class="fn-dropdown-content paymentList-dropdown myorder-dropdown" >
                                <div id="triangle-up"></div>
                                <li class="fn-active"><a href="javascript:void(0)" ng-click="changeTime(6)">一周内</a></li>
                                <li><a href="javascript:void(0)" ng-click="changeTime(7)">一个月内</a></li>
                                <li><a href="javascript:void(0)" ng-click="changeTime(8)">三个月内</a></li>
                            </ul>
                        </drop-down>
                    </li>

                </tab-bar>
        </div>

        <iscroll-wrapper class="payment-box">
            <li ng-repeat="payment in payments track by $index" class="p8" style="border:0;background: #f2f2f2;">
                <!--数据盒子-->
                <div class="payment-list">
                    <!--向上的三角-->
                    <a ui-sref="payment.paymentDetail({paymentId:payment.id})">
                        <div class="back-white">
                            <div class="payment-numberlist">
                                <i class="iconfont icon-fukuandan paymentOrder i-Bule"></i>
                                    {{payment.id}}
                                    <i class="iconfont icon-fanhui fn-fr fn-size Bule"></i>
                            </div>
                        </div>
                        <div class="fn-padding-xs payment-list-detail">
                            <p>生成时间：<span class="time">{{payment.time1}}</span></p>
                            <p>付款时间：<span class="time">{{payment.time2}}</span></p>
                            <p>付款状态：<span class="status">{{payment.statusText[payment.status]}}</span></p>
                        </div>
                        <!--<div class="fn-padding-xs  fn-fr">-->
                            <!--<p class="payColor">支付金额：<span class="money fn-fr">{{payment.money1|currency:'￥'}}</span></p>-->
                        <!--</div>-->
                    </a>
                </div>
            </li>
        </iscroll-wrapper>

</div>
<!--bottom bar  -->
<bottom-bar></bottom-bar>