<div class="addO">
    <div class="payWay main">
        <p class="title">
            <i class="iconfont icon-qianyuefukuan"></i>选择付款方式
        </p>
        <ul class="pay_list">
            <li><i class="iconfont icon-yuanxingweixuanzhong"></i><span>汇款</span></li>
            <!--<li><i class="iconfont icon-yuanxingxuanzhongfill"></i><span>承兑</span></li>
            <li><i class="iconfont icon-yuanxingxuanzhongfill"></i><span>现金支票</span></li>
            <li><i class="iconfont icon-yuanxingxuanzhongfill"></i><span>其他</span></li>-->
        </ul>
        <p class="title">
            <i class="title_delivery iconfont icon-daohuofangshi"></i>选择交货方式
        </p>
        <ul class="pay_list">
            <li><i class="iconfont icon-yuanxingweixuanzhong"></i><span>自提</span></li>
            <li><i class="iconfont icon-yuanxingxuanzhongfill"></i><span>配送</span></li>
        </ul>
        <div class="details">
            <p><span style="margin-left:2.2rem;">收货人  ：  </span><span style="margin-right:5rem;">王小二</span><span>15900001256</span></p>
            <p class="details_address"><i class="iconfont icon-shouhuodizhi"></i><span style="margin-left:1rem;">配送地址  ：  </span>浙江省杭州市下城区新市街153号</p>
        </div>
        <div class="details_line"></div>
        <p class="title">
            <i class="iconfont icon-riqi"></i>要货日期
        </p>
        <div class="details_time">
            <input type="text">
            <i></i>
        </div>
        <!--<div class="fn-input-group fn-datepicker-date" data-fn-datepicker="{format: 'dd-mm-yyyy'}">
            <input type="text" class="fn-form-field" placeholder="日历组件" readonly="readonly">
            <span class="fn-input-group-btn fn-datepicker-add-on">
		<button class="fn-btn fn-btn-default" type="button">
			<span class="fn-icon-calendar"></span>
		</button>
	</span>
        </div>-->
    </div>
    <div class="main payRmark">
        <p class="title">
            <i class="iconfont icon-7beizhu"></i>订单备注
        </p>
        <!--<input type="text" placeholder="备注请勿超过50字">-->
        <textarea placeholder="备注请勿超过50字" class="addOrderTig"></textarea>
    </div>

    <div class="addorder-bottom">
        <a ui-sref="order.confirm"><span class="addOrder-bottom_r">提交订单</span></a>
    </div>
</div>