
<!-- body -->
<div class="cart-main">
    <ul class="cart-list">
        <li ng-repeat="cartProduct in cartProducts track by $index">
            <div class="cart-list_top">

                <!--<i class="iconfont icon-yuanxingweixuanzhong" ng-click="changeCheck($event,$index)"></i>-->
                <label class="fn-checkbox fn-danger">
                    <input type="checkbox" ng-click="changeCheck($event,$index)" ng-model="cartProduct.isCheck" value="" data-fn-ucheck>
                </label>

                <span class="cart-name">{{cartProduct.name}}</span>
            </div>
            <div class="cart-list_middle">

                <div class="cart-xq">
                    <p>
                        <span style="margin-right:1rem;">编号:{{cartProduct.id}}</span>
                        <span>规格:262dtex/48f</span>
                    </p>
                    <p>
                        <span>备注：适合于任何产品</span>
                    </p>
                    <p style="color:#A5A5A5;">
                        <span style="margin-right:1rem;">颜色：白色;</span>
                        <span >要货日期：2017-03-08</span>
                    </p>
                </div>
                <div class="cart-bzj">
                    <p>标准价</p>
                    <p style="color:#FF5376;">{{ cartProduct.price|currency:"￥"}}</p>
                </div>

            </div>
            <div class="cart-list_bottom">

                <div class="cart-count">
                    <span ng-click="reduceCartPro($index)" class="cart-count_l">-</span><span ng-bind="cartProduct.num" class="cart-count_num"></span><span ng-click="addCartPro($index)" class="cart-count_r">+</span>

                </div>
                <div class="cart-icon">
                    <i class="iconfont icon-bianji" style="margin-right:1rem;color:#6AB8F5;"></i><i class="iconfont icon-Trash" style="color:#999999;"></i>
                </div>

            </div>
        </li>
    </ul>

</div>
<div class="cart-bottom">
    <div class="cart-left">
        <div class="cart-all_check">
            <!--<i class="iconfont icon-yuanxingweixuanzhong" ng-click="allCheck($event)"></i>-->
            <label class="fn-checkbox fn-danger">
                <input type="checkbox" ng-model="isAllCheck" value="" data-fn-ucheck  ng-click="allCheck()">
            </label>
            <span class="cart-all_check-span">全选</span>
        </div>
        <span class="cart-total">合计：<span>{{ totalPrice|currency:"￥"}}</span></span>
    </div>
    <a ui-sref="order.addOrder"><div class="cart-right">去结算(<span>2</span>)</div> </a>
</div>




<!--bottom bar  -->
<!--
<bottom-bar></bottom-bar>-->
