<div class="orderconfirm">
    <div class="orcon-div">
        <div class="ofirm-head">
            <p>
                <i class="iconfont icon-sale"></i>
                收货人信息
            </p>
        </div>
        <div class="orcon-Consignee-info">
            <p class="ofirm-p">收货人：王小二 15900001256</p>
            <p class="ofirm-p"><i class="iconfont icon-shouye1"></i>
                收货地址：<span class="ofirm-span">杭州市下城区新市街152号</span>
            </p>
            <div class="orcon-Consignee-info-bg"></div>
        </div>
    </div>
    <div class="orcon-div">
        <div class="ofirm-head">
            <p>
                <i class="iconfont icon-dingdan"></i>
                订单信息
            </p>
        </div>
        <div class="orderconfirm-info">
            <p class="ofirm-p">付款方式：<span class="ofirm-span">电汇</span></p>
            <p class="ofirm-p">付款方式：<span class="ofirm-span">265detex/48f</span></p>
            <p class="ofirm-p">交货方式：<span class="ofirm-span">配送</span></p>
            <p class="ofirm-p">要货日期：<span class="ofirm-span">2017-6-18</span></p>
        </div>
    </div>
    <div class="orcon-div">
        <div class="ofirm-head">
            <p>
                <i class="iconfont icon-pinpai"></i>
                产品详情
            </p>
        </div>
        <div class="orderconfirm-pro">
            <p class="ofirm-p">POY</p>
            <div>
                <p class="ofirm-p"><span class="ofirm-span">产品编号：10011003</span></p>
                <p class="ofirm-p"><span class="ofirm-span">265detex/48f</span></p>
                <p class="ofirm-p"><span class="ofirm-span">配送</span></p>
                <p class="ofirm-p"><span class="ofirm-span">要货日期：2017-6-18</span></p>
                <p class="ofirm-p"><span class="ofirm-span">小计：<span style="color:red;">$246.00</span></span></p>
            </div>
            <div>
                <p class="ofirm-p"><span class="ofirm-span">产品规格：262dtex/48f</span></p>
                <p class="ofirm-p"><span class="ofirm-span">标准价：￥900.00</span></p>
                <p class="ofirm-p"><span class="ofirm-span">数量：2</span></p>
            </div>
        </div>
        <div class="orderconfirm-price">
            <p class="ofirm-p">订单总额 <span>￥20,500.00</span></p>
            <p class="orderconfirm-price-p">+运费 <span>￥20,500.00</span></p>
            <p class="orderconfirm-price-p">-现金券抵用 <span>￥20,500.00</span></p>
        </div>
        <div>
            <p class="orderCofirm-xiaoji">共一件商品 小计：<span style="color:red;">￥4000.00</span></p>
            <p class="orderCofirm-time">下单时间：2016-11-21 09:52</p>
        </div>
    </div>
    <div class="orcon-div">
        <div class="ofirm-head">
            <p>
                <i class="iconfont icon-fankui"></i>
                订单备注
            </p>
        </div>
        <textarea placeholder="备注请勿超过50字" class="addOrderTig"></textarea>
    </div>
    <div class="orderconfirm-bottom">
        <a ui-sref="order.sucess"><span class="orderconfirm-submit">提交订单</span></a>
        <span>合计：<span class="orderconfirm-submit-price">￥4000.00</span></span>

    </div>
</div>

