<div class="orderSucess">
    <div class="orderSucess-order">
        <p><i class="iconfont icon-yuanxingxuanzhong orderSucess-i"></i></p>
        <p class="orderSucess-order-p">您已成功提交订单，我们会尽快审核您的订单！</p>
        <p class="orderSucess-p">订单编号<span style="color:#2d83ce">02058774188</span>已生成，正在等候审查</p>
    </div>
    <div class="orderSucess-Prompt">
        <p class="orderSucess-Prompt-p">温馨提示</p>
        <p class="orderSucess-Prompt-p">1.我们将在24小时与您联系确认订单情况，并且安排仓库发货；</p>
        <p class="orderSucess-Prompt-p">2.每天18：00以前的订单将在当天发货，18：00以后的订单将在第二天发货；</p>
        <p class="orderSucess-Prompt-p">3.发货成功后，我们会往您的邮箱中发送一份发货通知，您可以根据邮件中提示的物流信息，或在"我的订单"中查询物流信息进行跟进；</p>
        <p class="orderSucess-Prompt-p">4.特殊商品在签收后非质量问题，不予退换。</p>
        <p class="orderSucess-Prompt-p">感谢您的光临，祝您购物愉快</p>
    </div>
</div>