<head-bar></head-bar>
<div id="contractList" class="contractList">
    <div class="contractNum">
        <span class="contractNum_name">合同编号</span>
        <span>XGRZ-01-201710-0014</span>
    </div>
    <p class="contractTitle">单据信息</p>
    <div class="listTop">
        <ul>
            <li>
                <span class="fn-fl">合同编号：</span>
                <span class="fn-fr">XGRZ-01-201710-0014</span>
            </li>
            <li>
                <span class="fn-fl">客户名称：</span>
                <span class="fn-fr">张满和</span>
            </li>
            <li>
                <span class="fn-fl">设备型号：</span>
                <span class="fn-fr">XCT100</span>
            </li>
            <li>
                <span class="fn-fl">设备名称：</span>
                <span class="fn-fr">汽车起重机</span>
            </li>
            <li>
                <span class="fn-fl">设备单价：</span>
                <span class="fn-fr">￥4000000.00</span>
            </li>
            <li>
                <span class="fn-fl">数量：</span>
                <span class="fn-fr">1</span>
            </li>
            <li>
                <span class="fn-fl">保证金：</span>
                <span class="fn-fr">￥100000.00</span>
            </li>
            <li>
                <span class="fn-fl">首期租金：</span>
                <span class="fn-fr">0</span>
            </li>
            <li>
                <span class="fn-fl">融资金额：</span>
                <span class="fn-fr">￥2800000.00</span>
            </li>
            <li>
                <span class="fn-fl">租赁期限：</span>
                <span class="fn-fr">48</span>
            </li>
            <li>
                <span class="fn-fl">月租金：</span>
                <span class="fn-fr">￥66029.00</span>
            </li>
            <li>
                <span class="fn-fl">首付款合计：</span>
                <span class="fn-fr">￥205000.00</span>
            </li>
            <li>
                <span class="fn-fl">利息总额：</span>
                <span class="fn-fr">￥369392.00</span>
            </li>
        </ul>
    </div>
    <div class="listTotall">
        <p class="listTotall_price"><span>实付金额：</span><span class="fn-color-red">￥369392.00</span></p>
        <p class="listTotall_time"><span>付款时间:</span><span>2017-03-03</span></p>
    </div>
    <p class="contractTitle">设备清单</p>
    <div class="listbottom">
        <ul class="listbottom_title">
            <li>设备型号</li>
            <li>设备名称</li>
            <li>设备单价</li>
            <li>操作</li>
        </ul>
        <ul class="listbottom_content">
            <li>
                <span>XCT100</span>
                <span>汽车起重机</span>
                <span class="fn-color-red">¥40000000</span>
                <span class="fn-color-blue" ><a ui-sref="contract.replayDetail">还款计划</a></span>
            </li>
        </ul>
    </div>
</div>
