<div id="contractList" class="contractList">
    <div class="contractNum">
        <span class="contractNum_name">合同编号</span>
        <span>DSFSDFDSSDFSF</span>
    </div>
    <p class="contractTitle">单据信息</p>
    <div class="listTop">
        <ul>
            <li>
                <span class="fn-fl">合同编号:</span>
                <span class="fn-fr">DSFSDFDSSDFSF</span>
            </li>
            <li>
                <span class="fn-fl">合同编号:</span>
                <span class="fn-fr">DSFSDFDSSDFSF</span>
            </li>
        </ul>
    </div>
    <div class="listTotall">
        <p class="listTotall_price"><span>实付金额:</span><span class="fn-color-red">123123</span></p>
        <p class="listTotall_time"><span>付款时间:</span><span>2017-03-03</span></p>
    </div>
    <p class="contractTitle">设备清单</p>
    <div class="listbottom">
        <ul class="listbottom_title">
            <li>设备型号</li>
            <li>设备名称</li>
            <li>设备单价</li>
            <li>操作</li>
        </ul>
        <ul class="listbottom_content">
            <li>
                <span>XCT100</span>
                <span>汽车起重机</span>
                <span class="fn-color-red">¥40000000</span>
                <span class="fn-color-blue">还款计划</span>
            </li>
        </ul>
    </div>
</div>

