
<head-bar></head-bar>
<div id="orderList" class="order-list">
    <div class="wrapper-head">
        <!--搜素-->
        <search-bar></search-bar>
        <!--切换分公司-->
        <div class="companyBox">
            <div class="wrap-expand" id="companyBox" data-fn-modal="{target:'#company-action'">
                <i class="iconfont fn-fl icon-34 skin-color"></i>
                <span class="fn-text-truncate bindTxt" ng-bind="currentCompany.companyName"></span>
                <span class="fn-text-rignt fn-fr"><i class="iconfont icon-qiehuan skin-color"></i></span>
            </div>

            <fn-action action-id="company-action">
                <ul class="fn-list">
                    <li ng-repeat="company in companyList" data-fn-modal-close ng-click="changeCompany(company)">
                        <div class="fn-u-sm-2">
                            <i class="iconfont" ng-class="{'icon-queren1 skin-color':currentCompany.companyId == company.companyId,'icon-yuanquan1':currentCompany.companyId != company.companyId}"></i>
                        </div>
                        <a class="fn-u-sm-10" ng-bind="company.companyName"></a>
                    </li>
                </ul>
            </fn-action>
        </div>

        <!--切换导航-->
        <tab-bar>
            <li ng-repeat="status in orderStatusArray">
                <a  class="fn-btn fn-margin-0" href="javascript:void(0)" ng-click="changeStatus(status)">{{status.name}}</a>
            </li>
        </tab-bar>
    </div>

    <!--数据盒子-->
    <iscroll-wrapper class="myorder-box">
        <li ng-repeat="order in orders track by $index">
            <a ui-sref="contract.contractDetail({orderId:order.id})" ng-class="{'badgeSuccessBox': order.status == 1, 'badgeBox': order.status == 2,'badgePendingBox':order.status == 0}">
                <!--订单编号-->
                <div class="num-content statusFa">
                    <span class="myorderID">
                        <i class="iconfont icon-hetong skin-color"></i>
                        {{order.id}}
                        <i class="iconfont icon-fanhui fn-fr skin-color"></i>
                    </span >
                </div>

                <!--订单详情-->
                <div class="del-content">
                    <div>
                        <span class="leftspan">
                            合同名称：
                        </span>
                        <span class="myorderName fn-fr">
                            吉林省鹏之程物流有限公司
                        </span>
                    </div>
                    <div>
                        <span class="leftspan">
                            设备型号：
                        </span>
                        <span class="myorderName fn-fr">
                            xyz-765031
                        </span>
                    </div>
                    <div>
                        <span class="leftspan">
                            设备名称：
                        </span>
                        <span class="myorderName fn-fr">
                            新型电动设备01
                        </span>
                    </div>

                    <div>
                        <span class="leftspan">
                            融资金额：
                        </span>
                        <span class="myorderName fn-fr">
                            ￥1000,000.00
                        </span>
                    </div>
                    <div>
                        <span class="leftspan">
                            租凭期限：
                        </span>
                        <span class="myorderTime  fn-fr">
                            {{order.time}}
                        </span>
                    </div>
                    <div>
                        <span class="leftspan">
                            月租金：
                        </span>
                        <span class="myorderTime  fn-fr">
                            ￥2000.00
                        </span>
                    </div>
                    <div>
                        <span class="leftspan">
                            逾期利息：
                        </span>
                        <span class="myorderStau  fn-fr">
                            ￥24.53
                            <!--{{order.statusText[order.status]}}-->
                        </span>
                    </div>
                </div>
                <!--订单金额-->
                <div class="mon-content">
                <span class="myorderMon fn-fr">
                {{order.money|currency:'￥'}}
                </span>
                <span class="fn-fr">待收租金：</span>
                </div>
            </a>
        </li>
    </iscroll-wrapper>
</div>

<!--bottom bar  -->
<bottom-bar></bottom-bar>