<head-bar></head-bar>
<div id="repayList" class="repayList">
    <div class="repayNum">
        <span class="repayNum_name">车驾号</span>
        <span>LXGDPA558HA005981</span>
    </div>
    <p class="repayTitle">还款时间：<span>2017-11-28 15:32:56</span></p>
    <div class="listTop">
        <ul>
            <li>
                <span class="fn-fl">设备编号：</span>
                <span class="fn-fr">XGRZ-01-201710-0014-001</span>
            </li>
            <li>
                <span class="fn-fl">计划期数：</span>
                <span class="fn-fr">1</span>
            </li>
            <li>
                <span class="fn-fl">计划还款时间：</span>
                <span class="fn-fr">2017-11-28</span>
            </li>
            <li>
                <span class="fn-fl">设备单价：</span>
                <span class="fn-fr">￥400000.00</span>
            </li>
            <li>
                <span class="fn-fl">计划还款租金：</span>
                <span class="fn-fr">￥66029.00</span>
            </li>
            <li>
                <span class="fn-fl">实收租金：</span>
                <span class="fn-fr">￥66029.00</span>
            </li>
            <li>
                <span class="fn-fl">已收逾期利息：</span>
                <span class="fn-fr">0</span>
            </li>
            <li>
                <span class="fn-fl">剩余逾期利息：</span>
                <span class="fn-fr">0</span>
            </li>

        </ul>
    </div>
    <div class="listTotall">
        <p class="listTotall_price"><span>实收款：</span><span class="fn-color-red">￥66029.00</span></p>
    </div>
    <p class="repayTitle">还款时间：<span>2017-10-08  10:25:25</span></p>
    <div class="listTop">
        <ul>
            <li>
                <span class="fn-fl">设备编号：</span>
                <span class="fn-fr">XGRZ-01-201710-0014-001</span>
            </li>
            <li>
                <span class="fn-fl">计划期数：</span>
                <span class="fn-fr">1</span>
            </li>
            <li>
                <span class="fn-fl">计划还款时间：</span>
                <span class="fn-fr">2017-11-28</span>
            </li>
            <li>
                <span class="fn-fl">设备单价：</span>
                <span class="fn-fr">￥400000.00</span>
            </li>
            <li>
                <span class="fn-fl">计划还款租金：</span>
                <span class="fn-fr">￥66029.00</span>
            </li>
            <li>
                <span class="fn-fl">实收租金：</span>
                <span class="fn-fr">￥66029.00</span>
            </li>
            <li>
                <span class="fn-fl">已收逾期利息：</span>
                <span class="fn-fr">0</span>
            </li>
            <li>
                <span class="fn-fl">剩余逾期利息：</span>
                <span class="fn-fr">0</span>
            </li>

        </ul>
</div>
    <div class="listTotall">
        <p class="listTotall_price"><span>实收款:</span><span class="fn-color-red">123123</span></p>
    </div>
</div>

