<div id="repayList" class="repayList">
    <div class="repayNum">
        <span class="repayNum_name">车驾号</span>
        <span>DSFSDFDSSDFSF</span>
    </div>
    <p class="repayTitle">还款时间:<span>2017-04-03</span></p>
    <div class="listTop">
        <ul>
            <li>
                <span class="fn-fl">合同编号:</span>
                <span class="fn-fr">DSFSDFDSSDFSF</span>
            </li>
            <li>
                <span class="fn-fl">合同编号:</span>
                <span class="fn-fr">DSFSDFDSSDFSF</span>
            </li>
        </ul>
    </div>
    <div class="listTotall">
        <p class="listTotall_price"><span>实收款:</span><span class="fn-color-red">123123</span></p>
    </div>
    <p class="repayTitle">还款时间:<span>2017-04-03</span></p>
    <div class="listTop">
        <ul>
            <li>
                <span class="fn-fl">合同编号:</span>
                <span class="fn-fr">DSFSDFSDFDSFSDFDSSDFSF</span>
            </li>
            <li>
                <span class="fn-fl">合同编号:</span>
                <span class="fn-fr">DSFSDFDSSDFSF</span>
            </li>
        </ul>
    </div>
    <div class="listTotall">
        <p class="listTotall_price"><span>实收款:</span><span class="fn-color-red">123123</span></p>
    </div>
</div>

